{{ partial "header.html" . }}
<div>
  <div class="section-page">
    <div class="container articles">
      <div class="headarticle" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, .24), rgba(0, 0, 0, .24)), url('{{ .Params.thumbnail }}');">
        <h3 class="heading-3"><span class="datearticle">{{ .Date.Format "Mon, Jan 2" }}</span>{{ .Title }}</h3>
      </div>
      <div class="textblock w-richtext">
        	{{ .Content }}
      </div><a href="/news" class="btnback w-button">back to news list</a></div>
  </div>
</div>
{{ partial "footer.html" . }}