{{ partial "header.html" . }}
<div class="section-page line-up">
  <div class="container">
	          <h3 class="section-intro writing">{{ .Title }}</h3>
	          <h3 class="section-intro writing">Friday</h3>
    <div class="container" id="artsts"> 
{{ range where .Site.Data.artists.team  "day" "Friday"}}
		{{.name}}
{{end}}
	          <h3 class="section-intro writing">Saturday</h3>

		{{ range where .Site.Data.artists.team  "day" "Saturday"}}
		{{.name}}
{{end}}	          <h3 class="section-intro writing">sunday</h3>
<div class="cd-schedule loading">
	<div class="timeline">
		<ul>
			<li><span>12:30</span></li>
			<li><span>13:00</span></li>
			<li><span>13:30</span></li>
			<li><span>14:00</span></li>
			<li><span>14:30</span></li>
			<li><span>15:00</span></li>
			<li><span>15:30</span></li>
			<li><span>16:00</span></li>
			<li><span>16:30</span></li>
			<li><span>17:00</span></li>
			<li><span>17:30</span></li>
			<li><span>18:00</span></li>		
			<li><span>18:30</span></li>
			<li><span>19:00</span></li>
			<li><span>19:30</span></li>
			<li><span>20:00</span></li>
			<li><span>20:30</span></li>
			<li><span>21:00</span></li>
			<li><span>21:30</span></li>
			<li><span>22:00</span></li>
			<li><span>22:30</span></li>
			<li><span>23:00</span></li>
			<li><span>23:30</span></li>
			<li><span>00:00</span></li>
			<li><span>00:30</span></li>
			<li><span>01:00</span></li>

		</ul>
	</div> <!-- .timeline -->


	<div class="events">
		
		<ul style="list-style-type:none;">
			<li class="events-group">
				<div class="top-info"><span>Abstrkt</span></div>

				<ul>
					{{ range first 3 (where (where .Site.Data.artists.team  "position" "Abstrkt") "day" "=" "Sunday")  }}


					<li class="single-event" data-start="{{ .time }}" data-end="{{ .end }}" data-content="event-abs-circuit" data-event="event-1" style="background-image:url({{.photo}}); background-size:cover; background-position: center;">
						<a href="#0">
							<em class="event-name">	{{.name}}</em>
						</a>
					</li>
{{end}}
				</ul>
			</li>			
			<li class="events-group">
				<div class="top-info"><span>Silo</span></div>

				<ul>
					{{ range first 3 (where (where .Site.Data.artists.team  "position" "Silo") "day" "=" "Sunday")  }}


					<li class="single-event" data-start="{{ .time }}" data-end="{{ .end }}" data-content="event-abs-circuit" data-event="event-1" style="background-image:url({{.photo}}); background-size:cover; background-position: center;">
						<a href="#0">
							<em class="event-name">	{{.name}}</em>
						</a>
					</li>
{{end}}
				</ul>
			</li>			
			<li class="events-group">
				<div class="top-info"><span>Nico Morano & Friends</span></div>

				<ul>
					{{ range first 3 (where (where .Site.Data.artists.team  "position" "Nico Morano & Friends") "day" "=" "Sunday")  }}


					<li class="single-event" data-start="{{ .time }}" data-end="{{ .end }}" data-content="event-abs-circuit" data-event="event-1" style="background-image:url({{.photo}}); background-size:cover; background-position: center;">
						<a href="#0">
							<em class="event-name">	{{.name}}</em>
						</a>
					</li>
{{end}}
				</ul>
			</li>			
			<li class="events-group">
				<div class="top-info"><span>Giegling</span></div>

				<ul>
					{{ range first 3 (where (where .Site.Data.artists.team  "position" "Giegling") "day" "=" "Sunday")  }}


					<li class="single-event" data-start="{{ .time }}" data-end="{{ .end }}" data-content="event-abs-circuit" data-event="event-1" style="background-image:url({{.photo}}); background-size:cover; background-position: center;">
						<a href="#0">
							<em class="event-name">	{{.name}}</em>
						</a>
					</li>
{{end}}
				</ul>
			</li>

			
		</ul>
	</div>

	<div class="event-modal">
		<header class="header">
			<div class="content">
				<span class="event-date"></span>
				<h3 class="event-name"></h3>
			</div>

			<div class="header-bg"></div>
		</header>

		<div class="body">
			<div class="event-info"></div>
			<div class="body-bg"></div>
		</div>

		<a href="#0" class="close">Close</a>
	</div>

	<div class="cover-layer"></div>
</div> <!-- .cd-schedule -->
<script src="/js/modernizr.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script>
	if( !window.jQuery ) document.write('<script src="js/jquery-3.0.0.min.js"><\/script>');
</script>
<script src="/js/main.js"></script> <!-- Resource jQuery -->
</div>
{{ partial "footer.html" . }}