{{ partial "header.html" . }}
<div class="section-page line-up">
  <div class="container writing">
    <h3 class="section-intro">{{.Title}}</h3>
    {{ .Content }}
  </div>
  <div class="container writing">
    <h3 class="section-intro">Tickets</h3>
    <ul>
      {{ range .Params.tickets }}
      <details>
        <summary>
          <h2 style="display:inline-block; cursor: pointer;font-size: 1.6em;">{{ .question }}</h2>
        </summary>
        {{ .answer | markdownify }} </details>
      {{ end }}
    </ul>
  </div>  
	<div class="container writing">
    <h3 class="section-intro">TRANSPORT</h3>
    <ul>
      {{ range .Params.transport }}
      <details>
        <summary>
          <h2 style="display:inline-block; cursor: pointer;font-size: 1.6em;">{{ .question }}</h2>
        </summary>
        {{ .answer | markdownify }} </details>
      {{ end }}
    </ul>
  </div>
</div>
{{ partial "footer.html" . }}