<div id="fixed-nav" class="navbarblack w-nav">
  <div class="container nav"><a href="/index.html" class="bradn2 w-nav-brand">
    <img data-src="/images/minilogoorange.svg" width="113" alt="" class="lozad"></a>
    <nav role="navigation" class="navmenu2 w-nav-menu">
      <ul class="navmenu2__list">
        <li><a href="/news" class="navlink-black w-nav-link">news</a></li>
        <li><a href="/lineup" class="navlink-black w-nav-link">Line-up</a></li>
        <li><a href="/green" class="navlink-black w-nav-link">Green</a></li>
        <!--<li><a href="/food" class="navlink-black w-nav-link">Food</a></li>-->
        <!--<li><a href="/practical" class="navlink-black w-nav-link">Practical</a></li>-->
        <li><a href="/contact" class="navlink-black w-nav-link">Contact</a></li>
    </nav>
    <a href="/tickets" target="_blank" class="lastnav w-nav-link">Tickets</a>
    </ul>
  </div>
</div>