<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Paradise City Festival 2019 | 5, 6 & 7 July Perk, Belgium</title>
	<meta name="description" content="{{ .Content | truncate 150 }}" />
  <meta content="Paradise City Festival 2019 | 5, 6 & 7 July Perk, Belgium" property="og:title">
  <meta content="{{ .Content | truncate 150 }}" property="og:description">
	<meta property="og:url" content="https://paradisecity.be" />
	<meta property="og:image" content="https://paradisecity.be/images/opengraph3.jpg">
	<meta property="og:image:width" content="1200" />
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/components.css" rel="stylesheet" type="text/css">
  <link href="css/paradisecity.css" rel="stylesheet" type="text/css">
  <link href="images/favico.png" rel="shortcut icon" type="image/x-icon">
  <style>.body {overflow-x: hidden;overflow-y: scroll;}</style>
</head>
<body class="body home">
	<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M4CP3V8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <div data-collapse="medium" data-animation="default" data-duration="400" data-doc-height="1" class="homefixednav navbar-2 w-nav">
    <div class="container nav"><a href="/index.html" class="bradn2 w-nav-brand w--current"><img src="images/minilogoorange.svg" width="113" alt=""></a>
      <nav role="navigation" class="navmenu2 w-nav-menu"><a href="/news" class="navlink-black w-nav-link">news</a><a href="/lineup" class="navlink-black w-nav-link">LINE-UP</a><a href="/green" class="navlink-black w-nav-link">GREEN</a><!--<a href="/food" class="navlink-black w-nav-link">FOOD</a><a href="/practical" class="navlink-black w-nav-link">PRACTICAL</a>--><a href="/contact" class="navlink-black w-nav-link">CONTACT</a></nav>
      <div class="menu-button _2 w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div><a href="https://frontoffice.paylogic.nl/?event_id=122150&point_of_sale_id=12146" target="_blank" class="lastnav w-nav-link">TICKETS</a></div>
  </div>
  <div class="hero">
    <div data-collapse="medium" data-animation="default" data-duration="400" data-doc-height="1" id="w-node-094437952635-feae796a" class="navbar w-nav">
      <div class="container nav"><a href="#" class="brand w-nav-brand"><img src="images/branchlogo.svg" width="230" alt="" class="logotop"><img src="images/circleonlylogo.svg" width="141" alt="" class="circlelogoonly"></a>
        <nav role="navigation" class="nav-menu w-nav-menu"><a href="/news" class="nav-link w-nav-link">news</a><a href="/lineup" class="nav-link w-nav-link">LINE-UP</a><a href="/green" class="nav-link w-nav-link">GREEN</a><!--<a href="/food" class="nav-link w-nav-link">FOOD</a><a href="/practical" class="nav-link w-nav-link">PRACTICAL</a>--><a href="/contact" class="nav-link w-nav-link">CONTACT</a></nav>
        <div class="menu-button w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
    <div class="container containhero">
      <div id="w-node-c85380380b13-feae796a" class="hero-content">
        <h1 class="heading">5, 6 &amp; 7 JULY </h1>
        <h2 class="heading-2">perk, belgium</h2><a href="https://frontoffice.paylogic.nl/?event_id=122150&point_of_sale_id=12146" target="_blank" class="btn-hero w-button">GET YOUR TICKETS</a><a href="https://www.facebook.com/events/354178365144537/" target="_blank" class="btn-hero reverse w-button">attend event</a></div>
    </div>
    <div>
		<picture>
  <source srcset="images/castle23.webp" type="image/webp">
  <source srcset="images/castle23.png"  type="image/png"> 
<img src="images/castle23.png" srcset="images/castle23-p-500.png 500w, images/castle23-p-800.png 800w, images/castle23-p-1080.png 1080w, images/castle23.png 1290w" sizes="100vw" data-w-id="ac14f439-95dc-7226-f1db-c55d16c3f8d6" alt="" class="castle"></picture>
		</div>
  </div>
  <div class="_01">
    <div class="container split paddingtop">
      <div id="w-node-dccfab5c11a5-feae796a" class="block50 bgwhite">
        <h3 class="section-heading"><span class="orange">DEAREST CITIZEN</span></h3>
        <div class="txtblock introsection">{{ .Content }}</div>
      </div>
      <div id="w-node-b00e1d967f4d-feae796a" class="block50"><a href="#" class="thumbvideo w-inline-block w-lightbox"><script type="application/json" class="w-json">{"items":[{"type":"video","originalUrl":"https://www.youtube.com/watch?v=JiXo8WKuFjw","url":"https://www.youtube.com/watch?v=JiXo8WKuFjw","html":"<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FJiXo8WKuFjw%3Ffeature%3Doembed&url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DJiXo8WKuFjw&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FJiXo8WKuFjw%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" frameborder=\"0\" allow=\"autoplay; fullscreen\" allowfullscreen=\"true\"></iframe>","thumbnailUrl":"https://i.ytimg.com/vi/JiXo8WKuFjw/hqdefault.jpg","width":940,"height":528}]}</script></a></div>
    </div>
    <div class="container writing">
      <h3 class="section-intro">THE writing on the walls</h3>
		     <div class="col4 whitebg">
			{{ range first 4 (where .Site.Pages "Params.layout" "blog").ByPublishDate.Reverse }}	
				 			<a href="{{.Permalink}}" class="blogthumb w-inline-block" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, .24), rgba(0, 0, 0, .24)), url('{{ .Params.thumbnail }}'); background-size: cover; background-position: center;">
          <h3 class="headingblogthumb"><span class="datearticle">{{ .Date.Format "Mon, Jan 2" }}</span><br>{{ .Title }}</h3>
				 </a>
				 {{ end }}
       <a href="news.html" class="btcta reverse w-button">all news →</a></div>
      <div id="w-node-72ed13c86f3e-feae796a" class="block50 bgwhite"></div>
    </div></div>
  <div class="lineu"> 
    <div class="container">
      <h3 class="section-cta">LINE-UP</h3>
      <div class="line"></div>
      <h3 class="section-cta">TO BE ANNOUNCED</h3>
    </div>
  </div>
  <div class="section-green">
    <div class="container split"><img src="images/shape2.svg" alt="" class="shape2bg">
      <div id="w-node-48d598a7fe0c-feae796a" class="block50"><img src="images/green.jpg" width="626" alt="" class="img-green"></div>
      <div id="w-node-48d598a7fe19-feae796a" class="block50 padding-left">
        <h3 class="section-intro no-margin">green</h3>
        <h3 class="section-heading">TO MAKE SURE WE MINIMIZE OUR IMPACTS, WE HAVE SET A 10 STEPS PROCESS REGARDING OUR ENERGY USE, THE FOOD WE OFFER, THE WATER CONSUMED, THE WASTE PRODUCED, THE TRANSPORT MEANS TO ATTEND THE FESTIVAL AND FINALLY OUR CITIZEN’S AWARENESS.</h3>
        <div class="txtblock green">Any gathering of a large number of people can have a potential negative impact on air, soil, water, resources and people. This includes not only the location where the event takes place but also the impacts beyond. We are conscious about this and, by taking sustainability planning into consideration, we wish to minimize these potential negative impacts. Concretely, we trust we can influence change by leaving a positive legacy and hopefully inspiring our visitors to live more sustainably. </div><a href="green.html" class="btcta rev w-button">more info →</a></div>
	  </div>prod</div>
    {{ partial "footer.html" . }}